
	#wrapper {width:976px;}
	h1 {font-size:42px;}
	h2 {font-size:28px}
	
	.top-nav>ul>li {font-size:15px;}
	
	#hero {
		height:400px;
		width:100%;
		overflow:hidden;
		margin:20px 0;
	}
	


	.header-logo {height:70px;}
	
	.social-icons {
		position:absolute;
		right:0;
		top:0px;
	}
	
	#content {margin-top:20px;}
	#content header {height:70px;}
	.right-col, .left-col {float:left;}
	.left-col {width:24%;}
	.right-col {
		margin-left:1%;
		width:75%;
	}
	
	
